body {
    font-size: 16px;
    font-style: italic;
}

h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-align: center;
}

.color-class {
    background-color: green;
}

#color-question {
    font-weight: 600;
    font-size: 3em;
    text-decoration: underline;
}

ul {
    line-height: 35px;
}

#amarelo {
    color: yellow;
}

#vermelho {
    color: red;
}

#marrom {
    color: brown;
}